<div class="footer">



        <h2>Made with Love by,</h2>

        <ul>
            <li>
                <a href="https://twitter.com/iamRiddhiMore">
                <img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/></a></li>
            <li>
                <a href="https://github.com/MsMore">
                <img src="https://img.icons8.com/ios/50/000000/github-2.png"/></a></li>
            <li>
                <a href="https://www.linkedin.com/in/riddhi-more/">
                <img src="https://img.icons8.com/ios/50/000000/linkedin.png"/></a></li>
        </ul>

        <h4>Riddhi More</h4>
        <p>A computer engineering student in India</p>

        <ul>
            <li>
                <a href="https://github.com/SnowPrimate">
                <img src="https://img.icons8.com/ios/50/000000/github-2.png"/></a></li>
            <li>
                <a href="https://www.linkedin.com/in/lucas-vinzon-3311b2aa/">
                <img src="https://img.icons8.com/ios/50/000000/linkedin.png"/></a></li> 
        </ul>

        <h4>Lucas Vinzon</h4>
        <p>A self taught developer in Brail</p>

        <ul>
            <li>
                <a href="https://github.com/hurstkatelyn/">
                <img src="https://img.icons8.com/ios/50/000000/github-2.png"/></a></li>
            <li>
                <a href="https://www.linkedin.com/in/katelyn-hurst/">
                <img src="https://img.icons8.com/ios/50/000000/linkedin.png"/></a></li> 
        </ul>

        <h4>Katelyn Hurst</h4>
        <p>A computer science student in the United States</p>






</div>