<div class="footer">



    <h2>Made with Love by,</h2>
    <div class="footer-section">
        <div class="profiles">
            <ul>
                    <a href="https://github.com/MsMore">
                    <img src="https://img.icons8.com/ios/40/000000/github-2.png"/></a></li>
                <li>
                    <a href="https://www.linkedin.com/in/riddhi-more/">
                    <img src="https://img.icons8.com/ios/40/000000/linkedin.png"/></a></li>
            </ul>

            <h4>Riddhi More</h4>
           
          
        </div>    
        <div class="profiles">
            <ul>
                <li>
                    <a href="https://github.com/SnowPrimate">
                    <img src="https://img.icons8.com/ios/40/000000/github-2.png"/></a></li>
                <li>
                    <a href="https://www.linkedin.com/in/lucas-vinzon-3311b2aa/">
                    <img src="https://img.icons8.com/ios/40/000000/linkedin.png"/></a></li> 
            </ul>

            <h4>Lucas Vinzon</h4>
           
        </div>    
        <div class="profiles">
            <ul>
                <li>
                    <a href="https://github.com/hurstkatelyn/">
                    <img src="https://img.icons8.com/ios/40/000000/github-2.png"/></a></li>
                <li>
                    <a href="https://www.linkedin.com/in/katelyn-hurst/">
                    <img src="https://img.icons8.com/ios/40/000000/linkedin.png"/></a></li> 
            </ul>

            <h4>Katelyn Hurst</h4>
           
            
        </div>    
    </div>  




</div>