<div class="footer">



        <p>Made with Love by,</p>

        <ul>
            <li><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/></li>
            <li><img src="https://img.icons8.com/ios/50/000000/github-2.png"/></li>
            <li><img src="https://img.icons8.com/ios/50/000000/linkedin.png"/></li>
        </ul>

        <p>Riddhi More</p>

        <ul>
            <li><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/></li>
            <li>
                <a href="https://github.com/SnowPrimate">
                <img src="https://img.icons8.com/ios/50/000000/github-2.png"/>
                </a></li>
            <li>
                <a href="https://www.linkedin.com/in/lucas-vinzon-3311b2aa/">
                <img src="https://img.icons8.com/ios/50/000000/linkedin.png"/>
                </a></li> 
        </ul>

        <p>Lucas Vinzon</p>

        <ul>
            <li><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/></li>
            <li>
                <a href="https://github.com/hurstkatelyn/">
                <img src="https://img.icons8.com/ios/50/000000/github-2.png"/>
                </a></li>
            <li>
                <a href="https://www.linkedin.com/in/katelyn-hurst/">
                <img src="https://img.icons8.com/ios/50/000000/linkedin.png"/>
                </a></li> 
        </ul>

        <p>Katelyn Hurst</p>






</div>