@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'about';
@import 'footer';
// Colors
$bg-color: rgb(255, 255, 255);
$dot-color: rgb(28, 75, 32);

// Dimensions
$dot-size: 3px;
$dot-space: 22px;

body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #33333348 #f2f2f2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #2978b5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8ab6d6;
    border-radius: 12px;
    border-color: #2978b5;

  }
::selection {
  color: #fff;
  background: #E5707E;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
    padding-top: 5px;

}



h2 {
  padding-top: 40px;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

}


body {
    background-color: white;
    margin-bottom: 0px;
}
h2 {
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.4em;


}
#add{
  background-color: #A7D0CD;
  border-color: #415c5a;
}
#search{
  background-color: #C9E4C5;
  border-color: #5b7457;
}
#download{
  background-color: #FFEEBB;
  border-color: #c9ac57;
}
#delete{
  background-color: #F5C0C0;
  border-color: #be7777;
}
#highlight{
  background-color: #cdc6dd;
  border-color: #8f83aa;
}
#save{
  background-color: #ffc1b0;
  border-color: #a8786a;
}
#retrieve{
  background-color: #b4e7d9;
  border-color: #71a194;
}

a {
    color: black;
    font-size: 1.0em;
}

.info {
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .desc {
        font-size: large;
        color: #404040;
    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}

.pin {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -3px;
  background-color: #ff3535;
  border-radius: 100%;
  border-color: #404040;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: 1px;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 100%;
  }
  &:after {
    content: "";
    width: 1px;
    height: 6px;
    display: block;
    background-color: #4b4545;
    position: absolute;
    top: 14.5px;
    left: 50%;
    margin-left: -4px;
    transform: rotate(16deg);
 
  }
}

.tape {
  background-color: rgba(173, 109, 67, 0.199);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 3em;
  position: absolute;
  margin-left: 40%;
  margin-top: -10px;
  transform: rotate(-2deg);
  width: 20em;
  filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));

&:after,
&:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}
&:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 0 100%;
  left: -.2em;
}
&:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}
}

#about-tape {
  transform: rotate(1deg);
  margin-top: -20px;
  margin-left: 30%;
}

@media only screen and (max-width: 768px) {
.tape {
  margin-left: 20%;
  margin-top: -10px;
  transform: rotate(-5deg);
  width: 10em;
  }
  #about-tape {
    transform: rotate(1deg);
    margin-top: -30px;
    margin-left: 25%;
  }
}