@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'about';
@import 'footer';



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #33333348 #f2f2f2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #2978b5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8ab6d6;
    border-radius: 12px;
    border-color: #2978b5;

  }
::selection {
  color: #fff;
  background: #E5707E;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
    padding-bottom: 50px;
    padding-top: 50px;
}


h2 {
  padding-top: 40px;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


body {
    background-color: white;
    margin-bottom: 0px;
}
h2 {
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: #A7D0CD;
    border-radius: .375rem;
    border: 3px solid #648a87;
    padding: 1.5em;
    font-size: 1.2em;

}

a {
    color: black;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
        text-align: center;
    }

    .location {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}
