.footer {
    background-color: #cdc6dd;
    width: cover;
    height: 900px;
    border: 7px solid #78718b;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    h2{
        padding-top: 3px;
        font-size: 22px;
    }
    p{
        padding: 2px;
    }
    ul {
        list-style-type: none;
        padding: 2px;
        margin: 3px;
        li{
            display: inline-block;
            padding: 10px;
        }
    }
    
}