.footer {
    background-color: #cdc6dd;
    width: cover;
    height: 500px;
    border: 7px solid #78718b;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    ul {
        list-style-type: none;
        padding: 5px;
        li{
            float: left;
            padding: 10px;
        }
    }
    
}