.profile {
    background-color: #C9E4C5 !important;
    border: 7px solid #B5CDA3;
    border-radius: 15px;
    text-align: center;
    height: 530px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    h1 {
        font-size: 60px;
        font-weight: 900;
        color: rgb(70, 70, 70);
        padding-bottom: 20px;
    }
    h4{
        font-size: 15px;
        font-weight: 700;
        color:rgb(70, 70, 70);
        padding-bottom: 20px;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        color:rgb(70, 70, 70);
        padding: 10px;
    }
    
    img {
        
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding-top: 100px;
    }
    
    .profile-picture {
        margin-top: auto;
        margin-bottom: 50px;
        height: 200px;
    }
    .themes {
        display: grid;
        align-items: center;
        justify-content: center;
        
        ul {
            list-style-type: none;
            padding: 10px;
            li{
                float: left;
                padding: 10px;
                img {
                    border-radius: 0;
                    width: 50px;
                    
                }

            }
        }
        
    }
    button {
        background-color: #E8E9A1;
        border: 2px solid #E6B566;
        border-radius: 10px;
    }
    
}

@media only screen and (max-width: 768px) {

    .profile{
        margin-left: 10px;
        margin-right: 10px;
    }
  }